@using Appointment.Frontend.Components.Base
@using Configuration.Entities

@inherits BaseFormComponent<Catalogue>

<div class="d-flex flex-column w-50">
    <RadzenLabel Text="Nombre" />
    <RadzenTextBox @bind-Value="@Entity.Name" />
    <ValidationMessage For="@(() => @Entity.Name)" />
</div>
