@page "/{ViewRoute}/detail/{Rowid}"
@using Appointment.Globals.Enums

@inherits DynamicBaseView

<PageTitle>Ver</PageTitle>

<RadzenStack Orientation="@Orientation.Horizontal" JustifyContent="@JustifyContent.End">
    <p>Ver lista</p>
</RadzenStack>

<CascadingValue Value="@this">
    @Module.GetForm(ViewType)
</CascadingValue>

@code
{
    public override ViewType ViewType {get; set;} = ViewType.Detail;
    protected override void OnInitialized()
    {
        InitView();

        base.OnInitialized();
    }

    private void InitView()
    {
        ViewIsReady = true;
        LastViewRoute = ViewRoute;
        RouteIsValid = ApiService.EndPointIsSaved(ViewRoute);

        if(RouteIsValid)
        {
            SearchModule();
        }

        SetEntity();
    }

    protected override void OnParametersSet()
    {
        if(ViewRoute != LastViewRoute)
        {
            InitView();
            StateHasChanged();
        }

        base.OnParametersSet();
    }
}