@page "/{ViewRoute}/edit/{Rowid}"
@using Appointment.Globals.Enums

@inherits DynamicBaseView

<PageTitle>Editar</PageTitle>

<RadzenStack Orientation="@Orientation.Horizontal" JustifyContent="@JustifyContent.End">
    <p>Cancelar</p>
    <p>Guardar</p>
</RadzenStack>

<CascadingValue Value="@this">
    @Module.GetForm(ViewType.Edit)
</CascadingValue>

@code
{
    protected override void OnInitialized()
    {
        InitView();

        base.OnInitialized();
    }

    private void InitView()
    {
        ViewIsReady = true;
        LastViewRoute = ViewRoute;
        RouteIsValid = ApiService.EndPointIsSaved(ViewRoute);

        if(RouteIsValid)
        {
            SearchModule();
        }

        SetEntity();
    }

    protected override void OnParametersSet()
    {
        if(ViewRoute != LastViewRoute)
        {
            InitView();
            StateHasChanged();
        }

        base.OnParametersSet();
    }
}